<link rel="stylesheet" type="text/css" href="../css/viewer.css">
<!-- local css for header -->
<link rel="stylesheet" type="text/css" href="../css/header.css">


<!-- header -->
<div class="nav-bar" style="position: fixed;">
    <a href="/" class="back-icon">
        <i class="fa-solid fa-circle-arrow-left" style="color: #b8b8b8;"></i>
    </a>    
    <div class="title">
        CSV Upload
    </div>
    <div class="sub-title">
        Viewer
    </div>
</div>
<div id="file-name">
    <%= fileName %>
</div>
<!-- search bar -->
<div class="search-bar">
    <form id="searchForm">
        <div class="search-box">
            <input type="text" id="search-input" placeholder="Search data...">
            <button id="search" class="search-btn" type="button">Search</button>
        </div>
    </form>
</div>

<!-- search results -->
<div id="table-div">
    <table>
        <thead>
            <tr>
            <% for(let h of head) { %>
                <th><%= h %></th>
            <% } %>
            </tr>
        </thead>
        <tbody id="table-body">
            <!-- table body -->
        </tbody>
    </table>
</div>

<div id="page-buttons">
    <div id="pagination">
        <!-- Pagination buttons will be added here -->
    </div>
    <input type="number" id="page-input" placeholder="Page Number / <%= Math.ceil(length/100)%>">
    <button id="go-to-page">Go to Page</button>
</div>
<script type="text/javascript" src="/js/file_viewer.js"></script>