body {
    margin: 0;
    padding: 0;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    margin-bottom: 20px;
}
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-input {
    height: 40px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    margin-right: 10px;
    font-size: 16px;
}
#search-input:focus {
    outline: none;
}
#search {
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #4b88fd;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
#total-rows {
    margin: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}


th,
td {
  padding: 12px;
  text-align: left;
}


th {
  font-weight: bold;
  background-color: #4682b4;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-right: 2px solid #ddd;
}
td {
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  border-right: 2px solid #ddd;
}
.highlight {
  background-color: rgba(70, 130, 180, 0.2);
}



/* style on hover */
#go:hover {
    transform: translateY(-1.5px);
    box-shadow: 0px 2px 2px 0px #ccc;
}


.active-page{
  background-color: black;
  color: white;
}

#page-buttons{
  display: flex;
  justify-content: center;
  align-content: center;
}

#pagination{
  margin-right: 30px;
}

#table-div{
  margin: auto;
  width: 95vw;
  max-height: 68vh;
  overflow: auto;
  margin-bottom: 10px;
}

thead{
  position: sticky;
  top: 0;
}

#file-name {
  text-align: center;
  padding: 15px;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 50px;
}

